*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-4{
  width: 33.33%;
}

.col-3{
  margin-top: 48px;
}

.card-item{
  box-shadow: 0px;
  padding: 0px 14px;
  margin: 0px 12px 24px;
}

 .image{
  height: 250px;
  /* width: 100%; */
  object-fit: cover;
}